<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body{
            background-color: red;
        }
        h1{
            text-align: center;
            color:white;
        }
        img{
            height: 150px;
            width: 300px;
            
            border: 2px solid yellow;
            margin: 20px;

        }
        th
        {
            background-color:blue;
        }
    </style>
</head>
<body>
    <h1>well come to hyderabad jobs portal</h1><br>

    <img src="{% static 'images/a.jpg' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'images/b.jpg' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="{% static 'images/c.jpg' %}"><br><br><br>
    <table border="2">
        <tr>
            <th>Date</th>
            <th>Company Name</th>
            <th>Position</th>
            <th>Eligibility</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
        {% for b in form %}
        <tr>
            <td>{{b.date}}</td>
            <td>{{b.company}}</td>
            <td>{{b.title}}</td>
            <td>{{b.eligibility}}</td>
            <td>{{b.address}}</td>
            <td>{{b.email}}</td>
            <td>{{b.phonenumber}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>